.cover__link {
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
@media screen and (max-width: 1280px) {
    .cover__link {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__link {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__link {
        max-width: 320px;
        min-height: 200px;
    }
}