.page {
    width: 1024px;
    margin: auto;
    display: grid;
    grid-template-columns: 1024px;
    grid-template-rows: repeat(7, auto);
    grid-gap: 92px;
    grid-template-areas: 
    "header"
    "lead"
    "intro"
    "photo-grid"
    "places"
    "cover"
    "footer";
    border: 2px solid red;
}
