@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__figure/lead__figure.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 984px;
    margin: 56px auto 0;
    box-sizing: border-box;
}

@media screen and (min-width: 1280px) {
    .lead {
        margin-top: 64px;
    }
}

@media screen and (max-width: 1279px) {
    .lead {
        max-width: 928px;
    }
}
 