@import url(./__title/header__title.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__logo/header__logo.css);
@import url(./__links/header__links.css);
@import url(./__picture/header__picture.css);
@import url(./__caption/header__caption.css);

.header {
    grid-area: header;
    max-width: 928px;
    margin: auto;
}