@import url(./__logo/header__logo.css);
@import url(./__links/header__links.css);
@import url(./__link/header__link.css);
@import url(./__link-lang/header__link-lang.css);
@import url(./__link/_lang/header__link_lang_active.css);

.header {
    padding: 28px 48px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

}

@media screen and (max-width: 1023px) {
    .header {
        padding: 28px 24px 0;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding: 16px 16px 0;
    }
}