@import url(./__title/intro__title.css);
@import url(./__subtitle/intro__subtitle.css);
@import url(./__list/intro__list.css);
@import url(./__list-item/intro__list-item.css);

.intro {
    grid-area: intro;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 928px;
}