@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-item/intro__list-item.css);

.intro {
    width: 690px;
    height: 428px;
    background-color: gold;
    margin-left: 48px;
    grid-area: intro;
}