@import url(./__overlay/cover__overlay.css);
@import url(./__image/cover__image.css);
@import url(./__text/cover__text.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__link/cover__link.css);



.cover {
    position: relative;
    margin: 92px auto 0;
    width: 100%;
    max-width: 1184px;
}

@media screen and (max-width: 1023px) {
    .cover {
        margin-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin-top: 64px;
    }
}
