.cover::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: inherit;
    width: inherit;
    background-color: #2A2C2F;
    opacity: 0.3;
}


.cover:hover::after {
    content: "";
    opacity: 0.8;
    transition-duration: 0.4s;
}