.cover__overlay {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    height: inherit;
    width: inherit;
    background-color: #2A2C2F;
    opacity: 0.3;
}

.cover__overlay:hover {
    opacity: 0.8;
    transition-duration: 0.4s;
}