.menu__link-text {
    list-style-type: none;
    
}

@media screen and (max-width: 767px) {
    .menu__link-text {
        margin-top: 32px;
    }

    .menu__link-text:first-child {
        margin: 0;
    }
}

.menu__link-text:hover {
    opacity: 0.8;
    transition-duration: 0.2s;
}