@import url(./__copyright/footer__copyright.css);

.footer {
    display: flex;
    justify-content: space-between;
    width: 928px;
    background-color: rebeccapurple;
    margin: 0 auto 24px;
    grid-area: footer;
}